# Plotting Multiple Data Series

Complete the following set of exercises to solidify your knowledge of plotting multiple data series with pandas, matplotlib, and seaborn. Part of the challenge that comes with plotting multiple data series is transforming the data into the form needed to visualize it like you want. For some of the exercises in this lab, you will need to transform the data into the form most appropriate for generating the visualization and then create the plot.

In [4]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import warnings


warnings.filterwarnings('ignore')
%matplotlib inline

In [5]:
data = pd.read_csv('../data/liquor_store_sales.csv')
data.head()

,Year,Month,Supplier,ItemCode,Description,ItemType,RetailSales,RetailTransfers,WarehouseSales
0,2017,4,ROYAL WINE CORP,100200,GAMLA CAB - 750ML,WINE,0.0,1.0,0.0
1,2017,4,SANTA MARGHERITA USA INC,100749,SANTA MARGHERITA P/GRIG ALTO - 375ML,WINE,0.0,1.0,0.0
2,2017,4,JIM BEAM BRANDS CO,10103,KNOB CREEK BOURBON 9YR - 100P - 375ML,LIQUOR,0.0,8.0,0.0
3,2017,4,HEAVEN HILL DISTILLERIES INC,10120,J W DANT BOURBON 100P - 1.75L,LIQUOR,0.0,2.0,0.0
4,2017,4,ROYAL WINE CORP,101664,RAMON CORDOVA RIOJA - 750ML,WINE,0.0,4.0,0.0

## 1. Create a bar chart with bars for total Retail Sales, Retail Transfers, and Warehouse Sales by Item Type.

In [6]:
table_01 = pd.pivot_table(data,
                          values = ['RetailSales', 'RetailTransfers', 'WarehouseSales']
                          index='ItemType', 
                          columns=, 
                          aggfunc=np.sum)

table_01

                   Month                                               \
RetailSales     -6.49    -2.47    -2.00    -1.99    -1.84    -1.49
RetailTransfers  0.00     0.00     0.00    -1.00     0.00     0.00
WarehouseSales  0.00     0.00     0.00     0.00     0.00     0.00
ItemType
BEER                 NaN      NaN      NaN      NaN      NaN      NaN
DUNNAGE              NaN      NaN      NaN      NaN      NaN      NaN
KEGS                 NaN      NaN      NaN      NaN      NaN      NaN
LIQUOR               NaN      6.0      NaN     11.0      6.0      NaN
NON-ALCOHOL          NaN      NaN      NaN      NaN      NaN      NaN
REF                  NaN      NaN      NaN      NaN      NaN      NaN
STR_SUPPLIES         NaN      NaN      NaN      NaN      NaN      NaN
WINE                 6.0      NaN      8.0      NaN      NaN     11.0

                                                     ...     Year           \
RetailSales     -1.00                      -0.83     ...  992.00   1037.37
RetailTransfers  0.00              2.00     0.00     ...  981.00   1180.00
WarehouseSales  0.00     15.00    0.00     4.00      ... 16079.12 7283.96
ItemType                                             ...
BEER                 NaN      NaN      NaN      NaN  ...   2017.0   2017.0
DUNNAGE              NaN      NaN      NaN      NaN  ...      NaN      NaN
KEGS                 NaN      NaN      NaN      NaN  ...      NaN      NaN
LIQUOR              16.0      NaN      5.0      NaN  ...      NaN      NaN
NON-ALCOHOL          NaN      NaN      NaN      NaN  ...      NaN      NaN
REF                  NaN      NaN      NaN      NaN  ...      NaN      NaN
STR_SUPPLIES         NaN      NaN      NaN      NaN  ...      NaN      NaN
WINE                 NaN     11.0      NaN      9.0  ...      NaN      NaN

                                                                       \
RetailSales      1063.00  1065.28  1080.89  1101.39  1138.36  1170.00
RetailTransfers  939.00   1077.66  1008.49  1030.64  1162.96  1038.00
WarehouseSales  12733.83 15.00    15.00    19.00    7210.92  11932.79
ItemType
BEER              2017.0      NaN      NaN      NaN   2017.0   2017.0
DUNNAGE              NaN      NaN      NaN      NaN      NaN      NaN
KEGS                 NaN      NaN      NaN      NaN      NaN      NaN
LIQUOR               NaN   2017.0   2017.0   2017.0      NaN      NaN
NON-ALCOHOL          NaN      NaN      NaN      NaN      NaN      NaN
REF                  NaN      NaN      NaN      NaN      NaN      NaN
STR_SUPPLIES         NaN      NaN      NaN      NaN      NaN      NaN
WINE                 NaN      NaN      NaN      NaN      NaN      NaN


RetailSales      1249.00  1616.60
RetailTransfers  1160.00  1587.99
WarehouseSales  13723.71 15.00
ItemType
BEER              2017.0      NaN
DUNNAGE              NaN      NaN
KEGS                 NaN      NaN
LIQUOR               NaN   2017.0
NON-ALCOHOL          NaN      NaN
REF                  NaN      NaN
STR_SUPPLIES         NaN      NaN
WINE                 NaN      NaN

[8 rows x 79762 columns]

## 2. Create a horizontal bar chart showing sales mix for the top 10 suppliers with the most total sales.

## 3. Create a multi-line chart that shows average Retail Sales, Retail Transfers, and Warehouse Sales per month over time.

## 4. Plot the same information as above but as a bar chart.

## 5. Create a multi-line chart that shows Retail Sales summed by Item Type over time (Year & Month).

*Hint: There should be a line representing each Item Type.*

## 6. Plot the same information as above but as a bar chart.

## 7. Create a scatter plot showing the relationship between Retail Sales (x-axis) and Retail Transfers (y-axis) with the plot points color-coded according to their Item Type.

*Hint: Seaborn's lmplot is the easiest way to generate the scatter plot.*

## 8. Create a scatter matrix using all the numeric fields in the data set with the plot points color-coded by Item Type.

*Hint: Seaborn's pairplot may be your best option here.*