## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_1 = random.sample(range(100), k=80); print(sample_1, len(sample_1))

[67, 57, 60, 20, 83, 10, 63, 59, 12, 97, 16, 21, 0, 96, 52, 80, 93, 2, 45, 65, 94, 84, 35, 33, 92, 61, 99, 19, 90, 64, 41, 32, 39, 72, 70, 8, 30, 25, 29, 81, 56, 46, 31, 86, 17, 78, 50, 66, 36, 7, 51, 82, 5, 87, 85, 71, 49, 58, 4, 69, 13, 55, 68, 27, 1, 38, 18, 48, 24, 76, 14, 28, 91, 88, 95, 75, 54, 23, 53, 6] 80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_1); print(set1, len(set1))

{0, 1, 2, 4, 5, 6, 7, 8, 10, 12, 13, 14, 16, 17, 18, 19, 20, 21, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 35, 36, 38, 39, 41, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 75, 76, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 99} 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
sample_2 = []
for i in range(0,80):
    sample_2.append(random.randint(0,100))
                    
print(sample_2, len(sample_2))

[9, 62, 70, 10, 43, 29, 38, 1, 7, 33, 56, 2, 66, 58, 75, 11, 31, 23, 93, 61, 92, 7, 74, 36, 35, 76, 3, 59, 75, 40, 8, 65, 12, 74, 37, 90, 38, 47, 46, 65, 64, 58, 65, 3, 5, 74, 75, 80, 25, 51, 8, 14, 63, 80, 56, 65, 49, 62, 93, 30, 48, 65, 41, 5, 92, 39, 17, 77, 45, 46, 77, 86, 4, 87, 12, 12, 51, 48, 25, 9] 80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_2); print(set2, len(set2))

{1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 14, 17, 23, 25, 29, 30, 31, 33, 35, 36, 37, 38, 39, 40, 41, 43, 45, 46, 47, 48, 49, 51, 56, 58, 59, 61, 62, 63, 64, 65, 66, 70, 74, 75, 76, 77, 80, 86, 87, 90, 92, 93} 53

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
set3 = set1.difference(set2); print(set3, len(set3))

{0, 6, 13, 16, 18, 19, 20, 21, 24, 27, 28, 32, 50, 52, 53, 54, 55, 57, 60, 67, 68, 69, 71, 72, 78, 81, 82, 83, 84, 85, 88, 91, 94, 95, 96, 97, 99} 37

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
set4 = set2.difference(set1); print(set4, len(set4))

{3, 37, 40, 9, 74, 11, 43, 77, 47, 62} 10

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5 = set1.intersection(set2); print(set5, len(set5))

{1, 2, 4, 5, 7, 8, 10, 12, 14, 17, 23, 25, 29, 30, 31, 33, 35, 36, 38, 39, 41, 45, 46, 48, 49, 51, 56, 58, 59, 61, 63, 64, 65, 66, 70, 75, 76, 80, 86, 87, 90, 92, 93} 43

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [22]:
# Con len(set)
print(len(set1) == len(set3) + len(set5))
print(len(set2) == len(set4) + len(set5))

print(len(set1) + len(set4) == len(set2) + len(set3))
print(len(set1) + len(set2) == len(set3) + len(set4) + 2 * len(set5))

# Con uniones de sets
s1 = set1.union(set2)
s2 = set3.union(set4).union(set5)
print('\n',True if s1 == s2 else False)

## set1 + set2 - set5 = set3 + set4

True
True
True
True

 True

#### Create an empty set called `set6`.

In [23]:
set6 = set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [68]:
set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 45, 49, 50, 51, 52, 53, 54, 56, 57, 59, 60, 61, 62, 63, 64, 66, 68, 69, 70, 71, 73, 74, 75, 76, 78, 79, 80, 81, 82, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 99}

#### Check if `set1` and `set6` are equal.

In [69]:
print(True if set1 == set6 else False)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [75]:
print(f'{True if set2.issubset(set1) else False} \t(set2 subset s1)')
print(f'{True if set3.issubset(set1) else False} \t(set3 subset s1)')

False 	(set2 subset s1)
True 	(set3 subset s1)

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [78]:
totalSet_1 = set3.union(set4).union(set5)
totalSet_2 = set1.union(set2)

print(True if totalSet_1 == totalSet_2 else False)

True

#### Using the `pop` method, remove the first element from `set1`.

In [84]:
set1_pop = list(set1).pop(0)

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [88]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set1_remove = [i for i in set1 if i not in list_to_remove]

print(set1)
print()
print(set1_remove)

{0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 45, 49, 50, 51, 52, 53, 54, 56, 57, 59, 60, 61, 62, 63, 64, 66, 68, 69, 70, 71, 73, 74, 75, 76, 78, 79, 80, 81, 82, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 99}

[0, 2, 3, 4, 5, 7, 8, 10, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 26, 27, 28, 30, 33, 34, 35, 37, 38, 40, 42, 43, 45, 50, 52, 53, 54, 56, 57, 60, 62, 63, 64, 66, 68, 70, 73, 74, 75, 76, 78, 80, 82, 85, 86, 87, 88, 90, 92, 93, 94, 96]